@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

.app {
  max-width: 500px;
  width: 100%;
  background: var(--tg-theme-bg-color);
  margin: auto;
  position: relative;
  height: 100vh;
}

body {
  background: #ccc;
  font-family: "Arimo", sans-serif;
}
.task-body {
  padding: 27px;
  padding-bottom: 10px;
}
.task-img {
  width: 100%;
  border-radius: 20px;
}
.task-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--tg-theme-text-color);
  margin-top: 15px;
}

.task-answers {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
}
.task-answer {
  min-width: 40%;
  background: linear-gradient(90deg, #9796f0 0%, #fbc7d4 100%);
  background: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  border-radius: 20px;
  text-align: center;
  padding: 10px;
}
.loader-wrapper {
  /* position: absolute; */
  bottom: 100px;
  max-width: 500px;
  width: 100%;
  width: 100%;
  padding: 20px;
  left: 0;
}
.loader-bg {
  height: 20px;
  background: #d0f7ff;
  border-radius: 100px;
  padding: 3px;
}
.loader {
  border-radius: 100px;
  width: 20%;
  height: 14px;
  background: linear-gradient(90deg, #feac5e 0%, #c779d0 50%, #4bc0c8 100%);
}
